
/* NavBar Styles */
.navbar-book {
    background-color: #2c387e;
    color:white;
}

.navbar-book-menu {
    color:white;
}

.navbar-book-brand {
    color: white;
}

.navbar-book-brand:hover {
    color: #f50057;
}

.navbar-book-item a {
    color: #e0e0e0;
}

.navbar-book-item a:hover {
    color: #f50057;
}

.navbar-book-item.active a {
    color: white;
    font-weight: bold;
}

/* Jumbo Styles */
.jumbotron {
    background-color: #3f51b5;
    color: white;
    margin-top: 3rem;
}

/* Footer styles */

.footer {
    background-color: #3f51b5;
    margin-top: 5rem;
    color:white;
}

.footer-element {
    margin: 2rem;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: #f50057;
}


/* Book Card Styles */
.book-card {
    flex: 1 20rem;
    margin: 1rem 0.8rem 1rem 0rem;
    justify-content: space-between;
}

.book-card-title {
    margin: 0;
}

.book-card-body {
    margin-top: 1rem;
    height: auto;
}

/* Button Styles */

.btn-buy-book {
    background-color: #f50057;
    color: white;
    width: 100%;
    border-radius: 0;
}

.btn-buy-book:hover {
    background-color: #ab003c;
    color: white;
}

.book-card-button {
    padding: 0;
}

.btn-book-primary {
    background-color: #f50057;
    color: white;
}

.btn-book-primary:hover {
    background-color: #ab003c;
    color: white;
}

/* Images */
.img-banner {
    margin: 1rem 0rem 2.5rem 0rem;
}